/lab1/EFML/bin
/lab1/EFML.tests
/lab1/EFML.edit
/lab1/EFML.editor
/lab1/EFML/src/
/lab1/EFML/META-INF/MANIFEST.MF
/lab1/EFML/plugin.xml
bin

## lab 2 ignores
lab2/at.ac.tuwien.big.forms.entity.ui/src/*
lab2/at.ac.tuwien.big.forms.entity/.antlr-generator-3.2.0-patch.jar
lab2/at.ac.tuwien.big.forms.entity/src/*

## lab 3 ignores
lab3/ATL_Demo_WS_2014/
lab3/at.ac.tuwien.big.forms.transformations/transformation/Entities2Forms.asm

## general ignores
**plugin.xml
**plugin.xml_gen
**/src-gen/
**/xtend-gen/
/lab2/at.ac.tuwien.big.forms.form.ui/src
/lab2/at.ac.tuwien.big.forms.form/src
