/lab1/EFML/bin
/lab1/EFML.tests
/lab1/EFML.edit
/lab1/EFML.editor
/lab1/EFML/src/
/lab1/EFML/META-INF/MANIFEST.MF
/lab1/EFML/plugin.xml
bin
/lab2/at.ac.tuwien.big.forms.entity.ui/plugin.xml
/lab2/at.ac.tuwien.big.forms.entity.ui/src-gen
/lab2/at.ac.tuwien.big.forms.entity.ui/src/at
/lab2/at.ac.tuwien.big.forms.entity.ui/xtend-gen
/lab2/at.ac.tuwien.big.forms.entity/.antlr-generator-3.2.0-patch.jar
/lab2/at.ac.tuwien.big.forms.entity/src-gen
/lab2/at.ac.tuwien.big.forms.entity/xtend-gen
/lab2/at.ac.tuwien.big.forms.entity/src/at/ac/tuwien/big/forms/entity/formatting
/lab2/at.ac.tuwien.big.forms.entity/src/at/ac/tuwien/big/forms/entity/generator
/lab2/at.ac.tuwien.big.forms.entity/src/at/ac/tuwien/big/forms/entity/scoping
/lab2/at.ac.tuwien.big.forms.entity/src/at/ac/tuwien/big/forms/entity/serializer
/lab2/at.ac.tuwien.big.forms.entity/src/at/ac/tuwien/big/forms/entity/validation
/lab2/at.ac.tuwien.big.forms.entity/src/at/ac/tuwien/big/forms/entity/EntityRuntimeModule.java
/lab2/at.ac.tuwien.big.forms.entity/src/at/ac/tuwien/big/forms/entity/EntityStandaloneSetup.java
/lab2/at.ac.tuwien.big.forms.entity.ui/META-INF/MANIFEST.MF
/lab2/at.ac.tuwien.big.forms.entity/META-INF/MANIFEST.MF
