<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated forms -->
      <package
            uri="http://www.example.org/forms"
            class="forms.FormsPackage"
            genModel="model/forms.genmodel"/>
   </extension>

</plugin>
